body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("./img/city.jpg");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 800px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  width: calc(100%/3);
}
input {
  box-sizing: border-box;
}

button {
  background-color: #222e96;
  color: #fff;
  max-width: 75px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  opacity: 0.3s;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}
.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}
.todo {
  background-color: #7e7e7e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #5cb85c;
  justify-content: center;
}

.remove {
  background-color: #c44a46;
  justify-content: center;
}
.containerButton{
  display: flex;
}
.containerText{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.todo-form {
  padding-bottom: 1.5rem;
}
input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #d8abab;
  border-radius: 3px;
  width: 100%;
}
